<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${fox.getName()}"> lak</title>
</head>
<body>
<ul>
    <li><a href="http://www.google.com">Information</a></li>
</ul>
<img th:src="greenfox.png" th:alt="${fox.getName()}"/>
<p th:text="'This is ' +  ${fox.getName()} + '. Currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + ' . He knows ' +  ${fox.getTricks().size()} + ' tricks.'"></p>
<h1>Known tricks</h1>
<ul>
    <li>write HTML</li>
    <li>code in JAVA</li>
</ul>
</body>
</html>