<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
<ul>
    <li><a th:href="@{index}">Information</a></li>
    <li><a th:href="@{nutritionstore}">Nutrition Store</a></li>
    <li><a th:href="@{trickcenter}">Trick Center</a></li>
    <li><a th:href="@{actionhistory}">Action History</a></li>
</ul>

<form action="/nutritionstore" method="post">
    <!--<label for ="foxName">Name</label>-->
    <!--<input type="text" id="foxName" name="foxName">-->
    <label for ="food">Food</label>
    <select id="food" name="food" required>
        <option value="pizza">pizza</option>
        <option value="hamburger">hamburger</option>
        <option value="nachos">nachos</option>
        <option value="gyros">gyros</option>
    </select>
    <label for ="drink">Drink</label>
    <select id="drink" name="drink" required>
        <option value="coke">coke</option>
        <option value="Dr Pepper">Dr Pepper</option>
        <option value="vodka">vodka</option>
        <option value="beer">beer</option>
    </select>
    <input type="submit" value="Change"/>
</form>
</body>
</html>