<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Pokemon</title>
</head>
<body>
<h1 th:text="${trainer.trainername} + ' trainer\'s pokemons'"></h1>
<table class="table table-hover">
    <thead>
    <tr class="text-center">
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Picture</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pokemon : ${trainer.getPokemons()}">
        <td>
            <h3 th:text="${pokemon.getPid()}"></h3>
        </td>
        <td>
            <h3 th:text="${pokemon.getTname()}"></h3>
        </td>
        <td>
            <h3 th:text="${pokemon.getType1()}"></h3>
            <h3 th:text="${pokemon.getType2()}"></h3>
        </td>
        <td>
            <img th:src="${pokemon.getPicture()}" height="50%">
        </td>
    </tr>
    <form action="/addpokemon" method="post">
        <tr th:if="${trainer.getPokemons().size() < 6}">
            <td>Catch new Pokemon:</td>
            <td>
                <select>
                    <option th:each="pokemon : ${pokemons}" th:if="!${trainer.getPokemons().contains(pokemon)}"
                            th:value="${pokemon.getTname()}" th:text="${pokemon.getTname()}">
                    </option>
                </select>
            </td>
            <td>
                <input type="submit" value="Catch">
            </td>
        </tr>
    </form>
    </tbody>
</table>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>