<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Bank of Simba</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Raise balance</th>
        <th>Id</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>
        <th>Personality</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bankAccount : ${bankAccounts}" }>
        <form action="/raisebalance" method="POST" th:object="${bankAccount}">
            <th:block th:switch="${bankAccount.isKing()}">
                <td th:case="true">
                    <input type="submit" th:field="*{id}" required value="+100">
                </td>
                <td th:case="false">
                    <input type="submit" th:field="*{id}" required value="+10">
                </td>
            </th:block>
        </form>
        <td th:text="${bankAccount.id}"></td>
        <td th:text="${bankAccount.name}"></td>
        <td th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 'COMMA', 2, 'POINT')} + ' Zebra'" }></td>
        <td th:text="${bankAccount.animalType}" }></td>
        <!--<th:block th:switch="${bankAccount.isGood()}">-->
        <!--<td th:case="true">-->
        <!--Good one-->
        <!--</td>-->
        <!--<td th:case="false">-->
        <!--Bad guy-->
        <!--</td>-->
        <!--</th:block>-->
        <td th:text="${bankAccount.isGood()? 'Good one' : 'Bad guy'}">
        <td th:if="${bankAccount.isKing()}" th:text="King" }></td>
    </tr>
    </tbody>
</table>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>