body {
    background-color: rgb(219, 219, 219);
}

table {
    width: 200px;
}

th {
    padding: 25px 0px 13px 50px;
    font-size: 12px;
}

td {
    padding: 0px 50px;
    font-size: 6px;
    font-weight: 100;
}

table, th, td {
    border-radius: 0 1px 0 0;
    border-collapse: collapse;
    color: #404040;
    background-color: white;
    font-weight: 100;
    text-align: left;
    font-family: Calibri;
}

#forgotten {
    padding-top: 4px;
    text-align: right;
}

.userpw {
    padding-bottom: 4px;
    border: none;
}

.input {
    border: 0.5px solid grey;
    font-family: Arial;
    font-size: 10px;
}

.input:focus {
    border: 1px solid green;
}

#first_input {
    padding-bottom: 10px;
}

#submit_table {
    padding: 15px 50px;
}

#submit_button {
    background-size: 20px;
    border: none;
    padding: 5px 15px;
    font-size: 8px;
    border-radius: 10px;
    color: white;
    background-color: black;
    box-shadow: 0 0 0;
}

#checkboxpw {
    padding-left: 50px;
}