<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Add new todo</title>
</head>
<body>
<h1>Add new todo</h1>
<form action="/todo/add" th:action="@{/todo/add}" th:object="${todo}" method="post">
    <p>
        <label for ="task">Task:</label>
        <input type="text" required th:field="*{title}" id="task" class="form-control" placeholder="Task"/>
    </p>
    <p>
        <label for ="description">Task description:</label>
    </p>
    <p>
        <textarea th:field="*{description}" id="description" class="form-control" rows="3" placeholder="Description"/>
    </p>
    <p>
        <label for ="isUrgent">Urgent:</label>
        <input type="checkbox" th:field="*{urgent}" id="isUrgent"/>
        <label for ="isDone">Done:</label>
        <input type="checkbox" th:field="*{done}" id="isDone"/>
    </p>
    <p><input type="submit" value="Submit" class="btn btn-success"/>
        <input type="reset" value="Reset" class="btn btn-warning"/></p>
</form>

<h3><a href="/todo/">Go back to list</a></h3>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>