<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!--<style>-->
    <!--table, td, th {-->
    <!--border: 1px solid grey;-->
    <!--border-collapse: collapse;-->
    <!--width: 1000px;-->
    <!--text-indent: 10px;-->
    <!--font-family: Arial, Helvetica, sans-serif;-->
    <!--color: rgb(82, 64, 64);-->
    <!--}-->

    <!--tbody tr:nth-child(odd) {-->
    <!--background-color: lightgrey;-->
    <!--}-->

    <!--th, tr {-->
    <!--line-height: 40px;-->
    <!--}-->

    <!--th {-->
    <!--background-color: black;-->
    <!--color: lightgrey;-->
    <!--font-weight: normal;-->
    <!--text-align: left;-->
    <!--}-->
    <!--</style>-->
    <title>Todo List</title>
</head>
<body>
<div align="center">
    <h1>TODOS FOR TODAY</h1>
    <form th:action="@{/todo/add}" method="get">
        <button align="center" type="submit" class="btn btn-warning btn-lg">Add new todo</button>
    </form>
    <!--<h3><a href="/todo/add">Add new todo</a></h3>-->
</div>
<table class="table table-hover">
    <thead>
    <tr class="text-center">
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
    </tr>
    <tbody>
    </thead>
    <tr th:each="todo : ${todoList}">
        <td th:text="${todo.getId()}"></td>
        <td>

        <form th:action="@{'/todo/' + ${todo.getId()} + '/description'}" method="get">
            <input type="hidden" name="description" th:value="${todo.getId()}">
            <input type="submit" class="btn btn-primary" th:value="${todo.getTitle()}"></input>
        </form>

        </td>
        <td th:text="${todo.isUrgent()}? 'Yes' : 'No'"></td>
        <td th:text="${todo.isDone()}? 'Yes' : 'No'"></td>
        <td>
            <form th:action="@{'/todo/' + ${todo.getId()} + '/delete'}" method="get">
                <input type="hidden" name="remove" th:value="${todo.getId()}">
                <input class="btn btn-danger" type="submit" name="remove" value="Delete"/>
            </form>
        </td>
        <td>
            <form th:action="@{'/todo/' + ${todo.getId()}+ '/edit'}" method="get">
                <input type="hidden" name="edit" th:value="${todo.getId()}">
                <input class="btn btn-info" type="submit" value="Edit">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>